/* Home responsive 992px->1200px */
@media (min-width: 992px) and (max-width: 1200px){
	.container{
		max-width: 960px;
	}
	.wrapper-header{
		width: 100%;
	}
	.wrapper-header .header{
		width: 960px;
	}
	.logo{
		margin: 10px 0 0 50px;
	}
	.logo img{
		max-width: 80%;
	}
	.wrapper-header .header .navigation{
		margin: 10px 50px 0 -200px;
	}
	.wrapper-header .header .icon{
		margin: 10px 0 0 0;
	}
	.wrapper-banner .banner .banner-left img{
		max-width: 250px;
		left: 100px;
	}
	.wrapper-banner .banner .sale{
		font-size: 60px;
		max-height: 100px;
		max-width: 200px;
		left: 450px;
		top: 100px;
	}
	.wrapper-banner .banner{
		width: 960px;
	}
	.wrapper-banner .banner .slider .slide-show img{
		max-width: 150px;
	}
	.wrapper-banner .banner .slider{
		left: 100px;
		right: -100px;
	}
	.wrapper-banner .banner .slider .click{
		left: 250px;
		right: -250px;
		top: 25px;
	}
	.wrapper-banner .banner .slider .slide-show .content{
		left: 150px;
		right: -150px;
	}
	.wrapper-banner .banner .banner-right{
		margin: 100px 0 0 0;
	}
	.wrapper-banner .banner .banner-right img {
		max-width: 100px;
	}
	#wrapper-body .services .container{
		width: 960px;
	}
	#wrapper-body .services .line{
		width: 20%;
		margin: 55px 0 0 60px;
	}
	.services .title{
		margin: 55px 0 0 25px;
	}
	.services .wrapper{
		margin: 0 0 0 90px;
	}
	.services .bg-service{
		bottom: -620px;
		top: 580px
	}
	.services .wrapper a.DB{
		margin: 80px 50px 0 70px;
	}
	#wrapper-body .products .container{
		max-width: 960px;
	}
	.products .line{
		margin: 110px 0 20px 355px;
	}
	.products b{
		margin: 0 0 0 450px;
	}
	.products .wrapper{
		margin: 40px 0 0 50px;
		left: -20px;
		right: 20px;
	}
	.products .wrapper .item{
		margin: 0 0 0 20px;
	}
	.products .wrapper .item img{
		max-width: 240px;
		max-height: 360px;
	}
	.products .wrapper-function{
		margin: 0 0 0 10px;
	}
	.products .wrapper-function a{
		margin: 0 0 0 30px;
	}
	.wrapper-footer{
		width: 100%;
	}
	.wrapper-footer .container{
		max-width: 960px;
	}
	.wrapper-footer .menu-footer li{
		margin: 0 30px 0 0;
	}
	.wrapper-footer .menu-footer li input.email{
		width: 100%;
    }
    .wrapper-footer .menu-footer li img{
        margin: 0 0 0 5px;
	}
	.wrapper-footer .container{
		max-width: 960px;
	}
	.wrapper-footer li p#connect{
		font-size: 12px;
	}
}
/* End responsive */

/* Home responsive 768px->991px */
@media (min-width: 768px) and (max-width: 991px){
	.container{
		max-width: 720px;
	}
	.wrapper-header{
		width: 100%;
	}
	.wrapper-header .header{
		width: 720px;
	}
	.logo{
		margin: 10px 0 0 50px;
	}
	.logo img{
		max-width: 60%;
	}
	.wrapper-header .header .navigation{
		margin: 0 10px 0 -200px;
	}
	.wrapper-header .header .navigation a{
		font-size: 13px;
	}
	.wrapper-header .header .icon{
		margin: 0 0 0 0;
	}
	.wrapper-header .header .icon img{
		max-width: 50%;
	}
	.wrapper-banner .banner .banner-left img{
		max-width: 180px;
		left: 100px;
	}
	.wrapper-banner .banner .sale{
		font-size: 45px;
		max-height: 80px;
		max-width: 200px;
		left: 400px;
		top: 70px;
	}
	.wrapper-banner .banner{
		width: 720px;
	}
	.wrapper-banner .banner .slider .slide-show img{
		max-width: 120px;
	}
	.wrapper-banner .banner .slider{
		left: 30px;
		top: -10px;
	}
	.wrapper-banner .banner .slider .click{
		left: 200px;
		right: -250px;
		top: 10px;
		max-height: 20px;
		max-width: 80px;
	}
	.wrapper-banner .banner .slider .prev{
		margin-right: 0px;
		max-width: 15px;
	}
	.wrapper-banner .banner .slider .click .next{
		margin-right: 0px;
		max-width: 15px;
	}
	.wrapper-banner .banner .slider .slide-show .content{
		left: 130px;
		right: -150px;
	}
	.wrapper-banner .banner .slider .slide-show .content span.text{
		font-size: 40px;
		font-weight: bold;
	}
	.wrapper-banner .banner .slider .slide-show .content span.size{
		font-size: 13px;
	}
	.wrapper-banner .banner .banner-right{
		margin: 60px 0 0 0;
	}
	.wrapper-banner .banner .banner-right img {
		max-width: 70px;
	}
	#wrapper-body .services .container{
		width: 720px;
	}
	#wrapper-body .services .line{
		width: 20%;
		margin: 55px 0 0 60px;
	}
	.services .title{
		margin: 55px 0 0 25px;
	}
	.services .wrapper{
		margin: 0 0 0 90px;
	}
	.services .wrapper a{
		margin: 20px 20px 0 40px;
	}
	.services .wrapper a.DB{
		margin: 20px 0 0 30px;
	}
	.services .wrapper a.sales50{
		margin: -80px 15px 80px 40px;
	}
	.services .wrapper .rosara{
		left: 150px;
		top: -180px;
	}
	.services .wrapper .item img{
		max-width: 200px;
	}
	.services .bg-service{
		bottom: -620px;
		top: 480px;
		max-height: 350px;
	}
	#wrapper-body .products .container{
		max-width: 720px;
	}
	.products .line{
		margin: 110px 0 20px 250px;
	}
	.products b{
		margin: 0 0 0 300px;
	}
	.products .wrapper{
		margin: 40px -20px 0 10px;
		left: -20px;
		right: 20px;
		max-height: 280px;
	}
	.products .wrapper .item{
		margin: 0 0 0 20px;
	}
	.products .wrapper .item img{
		max-width: 170px;
	}
	.products .wrapper-function{
		margin: 0 0 0 15px;
	}
	.products .wrapper-function a{
		margin: 0 0 0 0;
	}
	.products .show-more{
		margin-left: -50px;
	}
	.wrapper-footer .container{
		width: 100%;
	}
	.wrapper-footer ul.menu-footer{
		padding: 0 0 0 0;
		margin: 0 0 30px 30px;
	}
	.wrapper-footer .menu-footer li{
		margin: 0 20px 0 0;
	}
	.wrapper-footer .menu-footer li input.email{
		width: 100%;
    }
    .wrapper-footer .menu-footer li img{
        margin: 0 20px 0 5px;
	}
	.wrapper-footer .container{
		max-width: 720px;
	}
}
/* End responsive */

/* Home responsive 576px->767px*/
@media (min-width: 576px) and (max-width: 767px){
	
/* End responsive */
