/* Home responsive */
@media screen and (min-width: 1300px){
	.wrapper-header .header-mobile{
		display: none;
	}
	.wrapper-header1 .icon-navi{
		display: none;
	}
	.wrapper-header1 .header-mobile{
		display: none;
	}
}
/* End responsive */
/* Home responsive 992px->1200px */
@media screen and (min-width: 992px) and (max-width: 1200px){
	.container{
		max-width: 960px;
	}
	.wrapper-header{
		width: 100%;
	}
	.wrapper-header .header{
		width: 960px;
	}
	.wrapper-header .header-mobile{
		display: none;
	}
	.wrapper-header1{
		width: 100%;
	}
	.wrapper-header1 .header-products{
		width: 960px;
	}
	.wrapper-header1 .header-mobile{
		display: none;
	}
	.wrapper-header1 .icon-navi{
		display: none;
	}
	.logo{
		margin: 10px 0 0 50px;
	}
	.logo img{
		max-width: 80%;
	}
	.wrapper-header .header .navigation{
		margin: 10px 50px 0 -200px;
	}
	.wrapper-header .header .icon{
		margin: 0;
	}
	.wrapper-header1 .navigation{
		margin: 20px 0 0 -200px;
	}
	.wrapper-header1 .navigation ul li a{
		padding: 10px 0 0 0;
	}
	.wrapper-header1 .header-products .icon{
		margin: 0 0 0 0;
		padding: 20px 0 0 50px;
	}
	.wrapper-body .breadcrumb{
		width: 960px;
	}
	.product-details .small-img{
		padding: 25px 0 0 0;
		margin-left: 20px;
	}
	.product-details .small-img img{
		max-width: 80px;
	}
	.product-details .small-img .line-small{
		margin: 5px 40px;
	}
	.product-details .product-img{
		margin-left: 25px;
	}
	.product-img img{
		max-width: 230px;
		margin: 0;
	}
	.product-details .description{
		margin: 0 0 80px 25px;
		bottom: 180px;
		padding: 0 250px 0 0;
	}
	.product-details .options-products{
		margin: 80px 0 0 25px;
		top: 100px;
	}
	.product-details .description .line-1{
		margin: 20px 0 0 100px;
		width: 300px;
		font-size: 30px;
	}
	.product-details .content-1 p{
		line-height: 1.5;
		width: 230px;
	}
	.product-img .pagination1{
		margin: 10px 0 10px 0;
	}
	.related-product{
		width: 960px;
		max-height: 500px;
		position: relative;
		margin-bottom: 200px;
	}
	.related-product .products-line{
		right: 0;
		left: 0;
		margin: 0 0 0 50px;
	}
	.related-product .products-line::before {
		max-width: 50px;
	}
	.related-product .products-line::after {
		max-width: 70%;
	}
	.related-product .products{
		position: absolute;
		left: 0;
		right: 0;
	}
	.related-product .products .wrapper{
		margin: 0 0 0 25px;
		width: 100%;
	}
	.products .wrapper .item img{
		width: 90%;
	}
	.wrapper-banner .banner .banner-left img{
		max-width: 250px;
		left: 100px;
	}
	.related-product .products .wrapper-function{
		margin: 0;
		top: -80px;
	}
	.wrapper-banner .banner .sale{
		font-size: 60px;
		max-height: 100px;
		max-width: 200px;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		margin: -300px 0 0 340px;
	}
	.wrapper-banner .banner{
		width: 960px;
	}
	.wrapper-banner .banner .slider .slide-show img{
		max-width: 150px;
	}
	.wrapper-banner .banner .slider{
		left: 100px;
		right: -100px;
	}
	.wrapper-banner .banner .slider .click{
		left: 250px;
		right: -250px;
		top: 25px;
	}
	.wrapper-banner .banner .slider .slide-show .content{
		left: 150px;
		right: -150px;
	}
	.wrapper-banner .banner .pagination{
		margin: 0 -100px 0 0;
	}
	.wrapper-banner .banner .pagination .dot{
		width: 10px;
		height: 10px;
	}
	.wrapper-banner .banner .banner-right{
		margin: 100px 0 0 0;
	}
	.wrapper-banner .banner .banner-right img {
		max-width: 100px;
	}
	#wrapper-body .services .container{
		width: 960px;
	}
	#wrapper-body .services .line{
		width: 20%;
		margin: 55px 0 0 60px;
	}
	.services .title{
		margin: 55px 0 0 25px;
	}
	.services .wrapper{
		margin: 0 0 0 90px;
	}
	.services .bg-service{
		bottom: -620px;
		top: 580px
	}
	.services .wrapper a.DB{
		margin: 80px 50px 0 70px;
	}
	#wrapper-body .products .container{
		max-width: 960px;
	}
	.products .line{
		margin: 110px 0 20px 355px;
	}
	.products b{
		margin: 0 0 0 450px;
	}
	.products .wrapper{
		margin: 40px 0 0 50px;
		left: -20px;
		right: 20px;
	}
	.products .wrapper .item{
		margin: 0 0 0 20px;
	}
	.products .wrapper .item img{
		max-width: 240px;
		max-height: 360px;
	}
	.products .wrapper-function{
		margin: 0 0 0 10px;
	}
	.products .wrapper-function a{
		margin: 0 0 0 30px;
	}
	.wrapper-footer{
		width: 100%;
		margin-top: -250px;
	}
	.wrapper-footer ul.menu-footer{
		margin: 0 0 20px 50px;
	}
	.wrapper-footer .container{
		max-width: 960px;
	}
	.wrapper-footer .menu-footer li{
		margin: 0 30px 0 0;
	}
	.wrapper-footer .menu-footer li input.email{
		width: 100%;
    }
    .wrapper-footer .menu-footer li img{
        margin: 0 0 0 5px;
	}
	.wrapper-footer .container{
		max-width: 960px;
	}
	.wrapper-footer li p#connect{
		font-size: 12px;
	}
}
/* End responsive */

/* Home responsive 768px->991px */
@media screen and (min-width: 768px) and (max-width: 991px){
	.container{
		max-width: 720px;
	}
	.wrapper-header{
		width: 100%;
	}
	.wrapper-header .header{
		width: 720px;
	}
	.wrapper-header .header-mobile{
		display: none;
	}
	.logo{
		margin: 10px 0 0 50px;
	}
	.logo img{
		max-width: 60%;
	}
	.icon-navi{
		display: none;
	}
	.wrapper-header1 {
		position: fixed;
		z-index: 5000;
		width: 100%;
		background: #ffffff;
		box-shadow: 0px 5px 30px -20px #000;
	}	
	.wrapper-header1 .header-mobile{
		display: none;
	}
	.wrapper-header1 .icon-navi{
		display: none;
	}
	.wrapper-header1 .logo{
		margin: 10px 0 0 0;
	}
	.wrapper-header1 .logo img{
		max-width: 100%;
	}
	.wrapper-header1 .navigation{
		margin: 0 -20px 0 100px;
	}
	.wrapper-header1 .navigation ul{
		margin: 10px 0 0 0;
	}
	.wrapper-header1 .navigation ul li a{
		padding: 10px 0 0 0;
		font-size: 13px;
	}
	.wrapper-header1 .navigation ul li .sub-navi ul{
		margin: 0;
	}
	.wrapper-header1 .icon{
		margin: 20px 0 0 50px;
		padding: 0;
	}
	.wrapper-header .header .navigation{
		margin: 0 10px 0 -200px;
	}
	.wrapper-header .header .navigation a{
		font-size: 13px;
	}
	.wrapper-header .header .icon{
		margin: 0 0 0 0;
	}
	.wrapper-body .breadcrumb{
		margin: 0;
		padding: 50px 0 50px 0;
	}
	.wrapper-body ul.breadcrumb li a{
		font-size: 13px;
	}
	.wrapper-body .product-details{
		margin: 50 0 0 0;
		padding-bottom: 0;
	}
	.wrapper-body .product-details .small-img{
		margin: 30px 0 0 0;
		padding: 0;
	}
	.wrapper-body .product-details .small-img img{
		max-width: 70px;
	}
	.wrapper-body .product-details .small-img .line-small{
		margin: 5px 35px;
	}
	.wrapper-body .product-details .product-img{
		width: 100%;
		margin: 20px 0 0 10px;
	}
	.wrapper-body .product-details .description{
		top: 75px;
		bottom: 200px;
		margin: 20px 0 80px 10px;
		padding: 0;
	}
	.wrapper-body .product-details .description .line-1 {
		width: 100%;
		font-size: 20px;
		margin: 10px 0 20px 100px;
	}
	.wrapper-body .product-details .description .content-1{
		margin: -30px 0 0 10px;
	}
	.wrapper-body .product-details .description .content-1 p{
		width: 180px;
		font-size: 13px;
		line-height: 1.5;
	}
	.product-details .img-product{
		margin: 0;
	}
	.wrapper-body .product-details .product-img img{
		max-width: 200px;
	}
	.wrapper-body .product-details .options-products{
		margin: 70px 25px 0 25px;
	}
	.wrapper-body .product-details .options-products .content-products p{
		font-size: 13px;
	}
	.wrapper-body .product-details .options-products .content-products p span{
		font-size: 15px;
	}
	.wrapper-body .options-products .content-products .color-radio span{
		font-size: 13px;
	}
	.wrapper-body .options-products .content-products .color-radio ul li{
		margin: -25px 20px 0 0;
		width: 25px;
		height: 25px;
	}
	.wrapper-body .options-products .content-products .size-box span{
		font-size: 13px;
	}
	.wrapper-body .options-products .content-products .size-box ul{
		top: 80px;
		bottom: 285px;
	}
	.wrapper-body .options-products .content-products .size-box ul li.active{
		width: 30px;
		height: 25px;
		padding: 2px 25px 0 15px;
	}
	.wrapper-body .options-products .content-products .size-box .S{
		padding: 3px 15px 20px 15px;
		margin: 0 15px 0 0;
		height: 25px;
	}
	.wrapper-body .options-products .content-products .size-box .M{
		padding: 3px 15px 20px 15px;
		margin: 0 15px 0 0;
		height: 25px;
	}
	.wrapper-body .options-products .content-products .size-box .L{
		padding: 3px 15px 20px 15px;
		margin: 0 15px 0 0;
		height: 25px;
	}
	.wrapper-body .options-products .content-products .cart{
		width: 100%;
		margin: 30px 0 20px 0;
	}
	.wrapper-body .options-products .content-products .cart span{
		font-size: 13px;
		width: 25%;
	}
	.wrapper-body .options-products .content-products .cart .cart-form{
		width: 75%;
		display: flex;
		margin: -40px 0 0 50px;
		max-height: 50px;
	}
	.wrapper-body .options-products .content-products .cart .cart-form button{
		font-size: 10px;
		margin: 20px 0 0 0;
		padding: 7px 10px 10px 10px;
	}
	.wrapper-body .options-products .content-products .coupon button {
		width: 50%;
		margin: 10px 0 10px 40px;
		background: no-repeat;
		border: 1px solid #9e0b0f;
		color: #9e0b0f;
		font-size: 15px;
		padding: 5px 0;
		transition: all .2s ease-in;
		cursor: pointer;
		max-height: 40px;
	}
	.wrapper-body .options-products .content-products .contact {
		margin: 5px 0 0 5px;
	}

	.wrapper-body .related-product .products-line {
		display: flex;
		align-items: center;
		text-align: center;
		margin-right: 100px;
		position: relative;
		left: 50px;
		font-size: 20px;
	}
	.wrapper-body .related-product {
		margin: 50px 0 250px 0;
		height: 450px;
	}
	.wrapper-body .related-product .products .wrapper {
		margin-left: 10px ;
		left: 0;
		right: 0;
	}
	.wrapper-body .related-product .products .wrapper-function {
		margin: 0 0 0 0;
		left: -5px;
		top: -50px;
	}
	.wrapper-body .products .item img {
		max-width: 100%;
	}
	.wrapper-body .products .function a {
		display: block;
		padding: 5px 16px 5px 16px;
		text-align: center;
		border: 2px solid black;
		font-size: 18px;
	}
	.wrapper-header .header .icon img{
		max-width: 50%;
	}
	.wrapper-banner .banner .banner-left img{
		max-width: 180px;
		left: 100px;
	}
	.wrapper-banner .banner .sale{
		font-size: 45px;
		max-height: 80px;
		max-width: 200px;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		margin: -220px 0 0 270px;
	}
	.wrapper-banner .banner{
		width: 720px;
	}
	.wrapper-banner .banner .slider .slide-show img{
		max-width: 120px;
	}
	.wrapper-banner .banner .slider{
		left: 30px;
		top: -10px;
	}
	.wrapper-banner .banner .slider .click{
		left: 200px;
		right: -250px;
		top: 10px;
		max-height: 20px;
		max-width: 80px;
	}
	.wrapper-banner .banner .slider .prev{
		margin-right: 0px;
		max-width: 15px;
	}
	.wrapper-banner .banner .slider .click .next{
		margin-right: 0px;
		max-width: 15px;
	}
	.wrapper-banner .banner .slider .slide-show .content{
		left: 130px;
		right: -150px;
	}
	.wrapper-banner .banner .pagination{
		margin: 0 -100px 0 0;
	}
	.wrapper-banner .banner .pagination .dot{
		width: 10px;
		height: 10px;
	}
	.wrapper-banner .banner .slider .slide-show .content span.text{
		font-size: 40px;
		font-weight: bold;
	}
	.wrapper-banner .banner .slider .slide-show .content span.size{
		font-size: 13px;
	}
	.wrapper-banner .banner .banner-right{
		margin: 60px 0 0 0;
	}
	.wrapper-banner .banner .banner-right img {
		max-width: 70px;
	}
	#wrapper-body .services .container{
		width: 720px;
	}
	#wrapper-body .services .line{
		width: 20%;
		margin: 55px 0 0 60px;
	}
	.services .title{
		margin: 55px 0 0 25px;
	}
	.services .wrapper{
		margin: 0 0 0 90px;
	}
	.services .wrapper a{
		margin: 20px 20px 0 40px;
	}
	.services .wrapper a.DB{
		margin: 20px 0 0 30px;
	}
	.services .wrapper a.sales50{
		margin: -80px 15px 80px 40px;
	}
	.services .wrapper .rosara{
		left: 150px;
		top: -180px;
	}
	.services .wrapper .item img{
		max-width: 200px;
	}
	.services .bg-service{
		bottom: -620px;
		top: 480px;
		max-height: 350px;
	}
	#wrapper-body .products .container{
		max-width: 720px;
	}
	.products .line{
		margin: 110px 0 20px 250px;
	}
	.products b{
		margin: 0 0 0 300px;
	}
	.products .wrapper{
		margin: 40px -20px 0 10px;
		left: -20px;
		right: 20px;
		max-height: 280px;
	}
	.products .wrapper .item{
		margin: 0 0 0 20px;
	}
	.products .wrapper .item img{
		max-width: 170px;
	}
	.products .wrapper-function{
		margin: 0 0 0 15px;
	}
	.products .wrapper-function a{
		margin: 0 0 0 0;
	}
	.products .show-more{
		margin-left: -50px;
	}
	.wrapper-footer{
		width: 100%;
		margin-top: -250px;
	}
	.wrapper-footer ul.menu-footer{
		padding: 0 0 0 0;
		margin: 0 0 30px 30px;
	}
	.wrapper-footer .menu-footer li{
		margin: 0 20px 0 0;
	}
	.wrapper-footer .menu-footer li input.email{
		width: 100%;
    }
    .wrapper-footer .menu-footer li img{
        margin: 0 10px 0 0px;
	}
	.wrapper-footer .container{
		max-width: 720px;
	}
}
/* End responsive */

/* Home responsive 576px->767px*/
/* @media (min-width: 576px) and (max-width: 767px){
	.container{
		max-width: 540px;
	}
	.wrapper-header{
		width: 100%;
		position: fixed;
	}
	.wrapper-header .header{
		width: 540px;
		display: block;
	}
	.wrapper-header .header-mobile{
		display: none;
	}
	.wrapper-header .logo{
		margin: 10px 320px 0 25px;
		position: relative;
	}
	.logo img{
		max-width: 60%;
	}
	.wrapper-header .navigation ul li a{
		display: none;
	}
	.wrapper-header .icon-navi{
		float: right;
		display: block;
		margin: -50px 0 0 0;
	}
	.wrapper-header .navigation.responsive{
		position: relative;
		margin: 0 0 0 25px;
		padding-bottom: 20px;
	}
	.wrapper-header .navigation.responsive .icon-navi{
		position: absolute;
		right: 0;
		left: 0;
	}
	.wrapper-header .navigation.responsive ul{
		display: flex;
	}
	.wrapper-header .navigation.responsive ul li a{
		display: block;
		text-align: left;
		padding-top: 25px;
	}
	.wrapper-header .navigation.responsive .sub-navi{
		float: none;
	}
	.wrapper-header .navigation.responsive .sub-navi ul{
		position: relative;
	}
	.wrapper-header .navigation.responsive .sub-navi ul li a{
		display: flex;
		width: 100%;
		text-align: left;
	}
	.wrapper-header .icon{
		margin-top: 0px;
		position: absolute;
		margin: 10px 0 0 0;
		bottom: 0px;
		top: 0px;
		right: 0px;
		left: 350px;
		max-width: 100px;
		max-height: 50px;
	}
	.wrapper-banner .banner{
		width: 540px;
	}
	.wrapper-banner .banner .banner-left img{
		max-width: 180px;
		margin: 150px 0 0 0;
		left: 0;
	}
	.wrapper-banner .banner .sale{
		font-size: 45px;
		max-height: 80px;
		max-width: 200px;
		margin: -240px 0 0 170px;
		left: auto;
		top: auto;
		bottom: auto;
		right: auto;
	}
	.wrapper-banner .banner .slider{
		left: 0;
		margin: 0 0 0 100px;
		top: -10px;
	}
	.wrapper-banner .banner .slider .slide-show img{
		max-width: 120px;
	}
	.wrapper-banner .banner .slider .click{
		left: 200px;
		right: -150px;
		top: 10px;
		max-height: 20px;
		max-width: 80px;
	}
	.wrapper-banner .banner .slider .prev{
		margin-right: 0px;
		max-width: 15px;
	}
	.wrapper-banner .banner .slider .click .next{
		margin-right: 0px;
		max-width: 15px;
	}
	.wrapper-banner .banner .slider .slide-show .content{
		left: 130px;
		right: -150px;
	}
	.wrapper-banner .banner .slider .slide-show .content span.text{
		font-size: 40px;
		font-weight: bold;
	}
	.wrapper-banner .banner .slider .slide-show .content span.size{
		font-size: 13px;
	}
	.wrapper-banner .banner .pagination{
		margin: 0 -100px 0 0;
	}
	.wrapper-banner .banner .pagination .dot{
		width: 10px;
		height: 10px;
	}
	.wrapper-banner .banner .banner-right{
		margin: 150px 0 0 0;
	}
	.wrapper-banner .banner .banner-right img {
		max-width: 70px;
	}
	#wrapper-body .services .container{
		width: 540px;
	}
	#wrapper-body .services .line{
		width: 20%;
		margin: 55px 0 0 60px;
	}
	.services .title{
		margin: 55px 0 0 25px;
	}
	.services .Hot{
		font-size: 30px;
	}
	.services p{
		font-size: 20px;
	}
	.services .wrapper{
		margin: 0 0 0 90px;
	}
	.services .wrapper a{
		margin: -20px 10px 300px 25px;
		padding: 10px 0 50px 0;
	}
	.services .wrapper a.DB{
		margin: -20px 10px 300px 25px;
		padding: 15px 0 45px 0;
		font-size: 15px;
	}
	.services .wrapper a.sales50{
		margin: -120px 10px 300px 20px;
		padding: 10px 0 50px 0;
	}
	.services .wrapper .rosara{
		left: 200px;
		bottom: 0px;
		top: -250px;
		font-size: 12px;
	}
	.services .wrapper .rosara::before {
		max-width: 80px;
	}
	.services .square1{
		width: 40px;
		height: 40px;
	}
	.services .square2{
		width: 40px;
		height: 40px;
	}
	.services .square3{
		width: 40px;
		height: 40px;
	}
	.services .wrapper .item img{
		max-width: 130px;
	}
	.services .bg-service{
		bottom: 0;
		top: 600px;
		max-height: 250px;
	}
	.products{
		top: -550px;
	}
	#wrapper-body .products .container{
		max-width: 540px;
	}
	.products .line{
		margin: 110px 0 20px 150px;
		width: 250px;
	}
	.products b{
		margin: 0 0 0 180px;
	}
	.products .wrapper{
		margin: 20px 0 0 0;
		left: 0;
		right: 0;
	}
	.products .wrapper .item{
		margin: 0 0 0 0;
	}
	.products .wrapper .item img{
		max-width: 130px;
	}
	.products .wrapper-function{
		bottom: 195px;
		margin: 0 0 0 10px;
		max-height: 50px;
	}
	.products .wrapper-function a{
		margin: 0 0 0 10px;
		padding: 0 0 0 0;
		font-size: 12px;
	}
	.products .bg-products{
		top: 100px;
		bottom: 0;
		height: 210px;
	}
	.products .function{
		margin: 0 0 0 10px;
	}
	.products .show-more{
		margin: -200px 0 0 200px;
	}
	.products .show-more a{
		margin: 0 0 0 0;
		padding: 5px 40px 5px 40px;
		font-size: 14px;
	}
	.wrapper-footer{
		margin-top: -450px;
	}
	.wrapper-footer .container{
		max-width: 540px;
	}
	.wrapper-footer ul.menu-footer{
		padding: 0 0 0 0;
		margin: 0 0 20px 20px;
	}
	.wrapper-footer .menu-footer li{
		margin: 0 20px 20px 0;
		display: block;
		width: 100%;
	}
	.wrapper-footer .menu-footer li input.email{
		width: 60%;
    }
    .wrapper-footer .menu-footer li img{
        margin: 0 10px 0 0;
	}
} */
/* End responsive */

/* Home responsive 320px->575px */
@media (min-width: 320px) and (max-width: 767px){
		.container{
			max-width: 310px;
		}
		.wrapper-header{
			width: 100%;
			position: fixed;
		}
		.wrapper-header .header{
			display: none;
		}
		.wrapper-header .header-mobile{
			display: flex;
			margin: 10px 0;
		}
		.wrapper-header1 .container{
			width: 100%;
		}
		.wrapper-header1 .header-product{
			display: none;
		}
		.wrapper-header1 .header-mobile{
			margin-top: 10px;
			display: flex;
			justify-content: center;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		  
		a {
			text-decoration: none;
		}
		  
		.bd-grid {
			max-width: 1024px;
			display: grid;
			grid-template-columns: 100%;
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
		  
		/*===== HEADER =====*/
		.header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			padding: 10px 15px 0 15px;
			z-index: 100;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}
		  
		.header__logo {
			color: #0E1026;
		}
		.header__logo img{
			max-width: 90px;
		}
		.wrapper-header1 #header-toggle{
			margin: 5px 0 0 200px;
		}  
		.header__toggle {
			font-size: 1.7rem;
			margin: 15px 0 0 180px;
			cursor: pointer;
			color: #ffffff;
		}
		.header__togglee {
			font-size: 1.7rem;
			margin-left: 150px;
			cursor: pointer;
		}
		  
		/*===== NAV =====*/
		@media screen and (max-width: 768px) {
			.nav {
			  position: fixed;
			  top: 0;
			  left: -100%;
			  background-color: gray;
			  width: 80%;
			  height: 100vh;
			  padding: 2rem 0;
			  z-index: 100;
			  transition: .5s;
			  overflow-y: auto;
			}
		  }
		  
		  .nav__content {
			display: flex;
			flex-direction: column;
		  }
		  
		  .nav__perfil {
			display: flex;
			align-items: center;
			text-align: center;
			margin-bottom: 3rem;
		  }
		  
		  .nav__img {
			display: flex;
			justify-content: center;
			width: 20px;
			height: 20px;
			overflow: hidden;
			margin-bottom: 1rem;
			margin-right: 20px;
		  }
		  
		  .nav__img img {
			width: 70px;
		  }
		  
		  .nav__name {
			display: block;
			font-size: 1rem;
			color: #FBFBFB;
		  }
		  
		  .nav__item {
			margin-bottom: 2rem;
		  }
		  
		  .nav__link {
			color: #ffffff;
		  }
		  
		  .nav__link:hover {
			color: #FBFBFB;
		  }
		  
		  /*Show menu*/
		  .show {
			left: 0;
		  }
		  
		  /*Active link*/
		  .active {
			color: #FBFBFB;
		  }
		  
		  /*=== Dropdown ===*/
		  .dropdown__link {
			display: flex;
			align-items: center;
			justify-content: space-between;
		  }
		  
		  .dropdown__icon {
			font-size: 1.3rem;
			transition: .5s;
		  }
		  
		  .dropdown__menu {
			margin: 1rem 0 0 1rem;
			display: none;
		  }
		  
		  .dropdown__item {
			margin: 1rem 0;
		  }
		  .dropdown:hover .dropdown__menu {
			display: block;
		  }
		  .dropdown:hover .dropdown__icon {
			transform: rotate(-180deg);
		  }
		  .nav {
			width: 170px;
		  }
		.breadcrumb{
			margin-left: 10px;
			padding: 50px 0;
		}
		.breadcrumb li{
			font-size: 13px;
		}
		ul.breadcrumb li + li::before{
			padding: 5px;
		}
		.product-details{
			display: grid;
			justify-content: center;
		}
		.product-details .content-product{
			display: block;
		}
		.product-details .img-product{
			margin: 0;
		}
		.product-details .small-img{
			max-width: 60px;
			padding: 50px 0 0 0;
			margin: 0;
		}
		.product-details .small-img img{
			max-width: 60px;
		}
		.product-details .small-img .line-small{
			margin: 5px 30px;
		}
		.product-details .product-img{
			margin: 0 0 0 25px;
			max-width: 200px;
		}
		.product-img img{
			display: block;
			max-width: 210px;
		}
		.description{
			margin: 0;
			padding-right: 300px;
		}
		.description .line-1{
			margin: 20px 0 0 10px;
			max-width: 280px;
			font-size: 30px;
			font-weight: bold;
		}
		.description .content-1{
			margin: 0;
			width: 300px;
		}
		.options-products{
			margin: 50px 0 0 0;
		}
		.options-products .content-products{
			width: 300px;
		}
		.options-products .content-products .color-radio ul li{
			margin: -24px 50px 0 0;
		}
		.related-product{
			margin: 50px 0 350px 0;
		}
		.related-product .products-line{
			margin: 0 10px;
			left: 0;
			right: 0;
		}
		.related-product .products{
			margin: 0 0 0 20px;
			top: 0;
		}
		.related-product .products .wrapper{
			margin: 15px 0 0 0;
			grid-template-columns: 50% 50%;
			grid-template-rows: 240px;
		}
		.related-product .products .wrapper-function {
			left: 0px;
			top: 0px;
			bottom: 0px;
			right: 0px;
			margin: 50px 0 0 0;
			max-width: 310px;
		}
		.related-product .products .function{
			margin: 0;
		}
		.related-product .products .function a{
			margin: 0 30px 0 5px;
			font-size: 15px;
		}
		.wrapper-banner{
			width: 100%;
		}
		.wrapper-banner .banner{
			width: 310px;
		}
		.wrapper-banner .banner .banner-left{
			margin: 100px 0 0 0;
		}
		.wrapper-banner .banner .banner-left img{
			max-width: 100px;
			margin: 0 0 0 0;
			left: 0;
		}
		.wrapper-banner .banner .sale{
			font-size: 30px;
			max-height: 80px;
			max-width: 200px;
			margin: -140px 0 0 90px;
			left: auto;
			top: auto;
			bottom: auto;
			right: auto;
		}
		.wrapper-banner .banner .slider{
			left: 0;
			margin: 0 0 0 50px;
			top: 0;
		}
		.wrapper-banner .banner .slider .slide-show img{
			max-width: 80px;
		}
		.wrapper-banner .banner .pagination{
			margin: 0 0 0 30px;
		}
		.wrapper-banner .banner .pagination .dot{
			width: 10px;
			height: 10px;
		}
		.wrapper-banner .banner .slider .click{
			left: 100px;
			right: -75px;
			top: -10px;
			max-height: 20px;
			max-width: 80px;
		}
		.wrapper-banner .banner .slider .click img{
			width: 13px;
		}
		.wrapper-banner .banner .slider .click .prev{
			margin-right: 0px;
			max-width: 15px;
		}
		.wrapper-banner .banner .slider .click .next{
			margin-left: 10px;
			max-width: 15px;
		}
		.wrapper-banner .banner .slider .slide-show .content{
			margin: 0 -30px 10px 0;
			line-height: 0.8;
		}
		.wrapper-banner .banner .slider .slide-show .content span.text{
			font-size: 20px;
			font-weight: bold;
		}
		.wrapper-banner .banner .slider .slide-show .content span.size{
			font-size: 10px;
		}
		.wrapper-banner .banner .banner-right{
			display: none;
		}
		.services .line{
			width: 20%;
			margin: 30px 0 0 20px;
		}
		.services .title{
			margin: 30px 0 0 10px;
		}
		.services .Hot{
			font-size: 25px;
		}
		.services p{
			font-size: 15px;
		}
		.services .square1{
			width: 30px;
			height: 30px;
		}
		.services .square2{
			width: 30px;
			height: 30px;
		}
		.services .square3{
			width: 30px;
			height: 30px;
		}
		.services .bg-service{
			bottom: 0;
			top: 370px;
			max-height: 160px;
		}
		.services .wrapper{
			margin: 0 0 0 0;
			max-height: 200px;
			width: 100%;
		}
		.services .wrapper a{
			margin: -35px 0 300px 20px;
			padding: 0 0 35px 0;
			border: 2px solid white;
		}
		.services .wrapper a.DB{
			margin: -35px 0 300px 20px;
			padding: 5px 0 30px 0;
			font-size: 12px;
			border: 2px solid white;
		}
		.services .wrapper a.sales50{
			margin: -135px 0 300px 20px;
			padding: 0px 0 35px 0;
			border: 2px solid white;
		}
		.services .wrapper .item img{
			width: 130%;
		}
		.services .wrapper .rosara{
			left: 250px;
			bottom: 0px;
			top: -320px;
			font-size: 10px;
			margin: 0 0 0 -590px;
		}
		.services .wrapper .rosara::after {
			max-width: 10px;
		}
		.services .wrapper .rosara::before {
			max-width: 30px;
		}
		.products{
			top: -550px
		}
		#wrapper-body .products .container{
			width: 100%;
		}
		#wrapper-body .container{
			width: 100%;
		}
		.products .line{
			margin: 0 0 20px 80px;
			width: 50%;
		}
		.products b{
			margin: 0 0 0 100px;
			font-size: 15px;
		}
		.products .wrapper{
			margin: 20px 0 0 10px;
			left: 0;
			right: 0;
			height: 150px;
			grid-template-columns: 50% 50%;
			grid-template-rows: 240px;
		}
		.products .wrapper .item{
			margin: 0 0 0 0;
		}
		.products .wrapper .item img{
			max-width: 90%;
		}
		.products .wrapper-function{
			bottom: 40px;
			left: -20px;
			margin: 100px 0 0 20px;
			max-height: 50px;
			grid-template-columns: 50% 50%;
			grid-template-rows: 240px;
		}
		.products .wrapper-function a{
			margin: -10px 10px 0 10px;
			padding: 5px 0;
			border: 1px solid black;
			font-size: 15px;
		}
		.products .bg-products{
			top: 50px;
			bottom: 0;
			height: 500px;
			width: 100%;
		}
		.products .function{
			margin: 0 0 0 10px;
		}
		.products .show-more{
			margin: 200px 0 0 100px;
		}
		.products .show-more a{
			margin: 0 0 0 0;
			padding: 5px 20px 5px 20px;
			font-size: 15px;
		}
		.wrapper-footer{
			margin-top: -500px;
		}
		.wrapper-footer .container{
			max-width: 310px;
		}
		.wrapper-footer ul.menu-footer{
			padding: 0 0 0 0;
			margin: 0 0 20px 10px;
		}
		.wrapper-footer .menu-footer li{
			margin: 0 0 20px 0;
			display: block;
			width: 100%;
		}
		.wrapper-footer .menu-footer li input.email{
			width: 60%;
		}
		.wrapper-footer .menu-footer li img{
			margin: 0 10px 0 0;
		}
}
/* End responsive */