*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 0 auto;
    width: 1300px;
    min-height: 100%;
}
/* Header */
.wrapper-header{
    position: fixed;
    z-index: 5000;
    width: 100%;
}
.wrapper-header.bg-header{
    background-color: #b49a77;
}
.wrapper-header .header{
    display: flex;
    z-index: 500;
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
}
.wrapper-header .logo{
    margin-right: 35%;
}
.wrapper-header .navigation{
    flex-grow: 1;
    margin: 10px 0 0 0;
}
.wrapper-header .navigation ul{
    display: flex;
    justify-content: space-between;
}
.wrapper-header .navigation ul li  a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0 0 0;
    display: block;
    font-size: 16px;
}
.wrapper-header .products-header ul li a{
    color: black;
}
.wrapper-header .navigation ul li:hover .sub-navi{
    display: block;
}
.wrapper-header .navigation ul li .sub-navi{
    position: absolute;
    width: 20%;
    background: #a48c6a;
    display: none;
}
.wrapper-header .navigation ul li .sub-navi ul{
    flex-direction: column;
}
.wrapper-header .navigation ul li .sub-navi li{
    display: block;
    margin-right: 0;
}
.wrapper-header .navigation ul li .sub-navi li a{
    display: block;
    color: #fff;
    padding: 20px 0 20px 20px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.wrapper-header .navigation ul li .sub-navi li a:hover{
    border: 2px solid #fff;
    background: dimgray;
}
.wrapper-header .icon{
    padding-top: 18px;
    margin: 10px 0 0 46px;
}
.wrapper-header .icon ul{
    display: flex;
}
.wrapper-header .icon img{
    margin-right: 20px;
}
/* End header */

/* Banner */
.wrapper-banner{
	background: #b49a77;
}
.banner {
	background-color: #b49a77;
}
.banner-left {
	position: relative;
    display: inline-block;
    left: 8%;
}
.sale {
	position: absolute;
	top: 25%;
	left: 45%;
	font-size: 100px;
	color: white;
}
.slider {
	display: inline-block;
	margin-left: 200px;
	position: relative;
	bottom: 50px;
}
.slide-show {
	display: none;
}
.slide-show img{
	max-width: 264px;
	max-height: 264px;
}
.click {
	position: absolute;
	right: -65%;
	bottom: 50%;
	cursor: pointer;
}
.prev {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.next {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.content {
	position: absolute;
	bottom: 10%;
	right: -50%;
	color: white;
}
.text {
	font-size: 55px;
	font-weight: bold;
}
.size {
	bottom: 20%;
}
.banner-right {
    float: right;
    margin-top: 100px;
}
.pagination {
	text-align: center;
	margin: 0px 30px;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid #3d3d3d;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #3d3d3d;
}
/* End Banner */

/* Services */
.services{
	max-height: 600px;
	justify-content: space-between;
}
.services .line {
	border-style: none none solid none;
	width: 30%;
	margin-left: 10%;
	margin-top: 5%;
}
.services .title {
	margin-left: 15%;
	margin-top: 5%;
}
.services .title p {
	max-width: 200px;
}
.services .square1 {
	background: #cbcbcb;
    width: 69.1px;
    height: 69.1px;
    float: right;
    margin: 0.5em;
}
.services .square2 {
	background: #e0e0e0;
    width: 69.1px;
    height: 69.1px;
    float: right;
    margin: 0.5em;
}
.services .square3 {
	background: #f5f5f5;
    width: 69.1px;
    height: 69.1px;
    float: right;
    margin: 0.5em;
}
.services .item {
	padding: 1rem;
	text-align: center;
	color: #fff;
}
.services .item img{
	max-width: 600px;
	max-height: 400px;
}
.services .wrapper {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100px 100px 100px;
	margin-left: 200px;
	position: relative;
	z-index: 1000;
}
.services .wrapper a{
	border: 3px white solid;
	margin: 80px 70px 0 70px;
	padding: 20px 0px 70px 0px;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
}
.services .wrapper a:hover{
    background: white;
    color: black;
}
.services .wrapper a p{
	margin-top: 10px;
}
.services p{
	font-size: 25px;
}
.services .Hot{
	font-size: 50px;
}
.services .bg-service{
    background-color: #f0f0f0;
    padding-bottom: 200px;
    padding-top: 200px;
    width: 48%;
	position: relative;
	bottom: 300px;
}
.services .bg-service .rosara{
    display: flex;
    align-items: center;
    text-align: center;
    transform: rotate(-90deg);
    text-transform: uppercase;
    margin: 0 0 0 -600px;
    position: relative;
    left: 120px;
    bottom: 400px;
}
.services .bg-service .rosara::after{
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    background-color: #000;
    max-width: 20px;
}
.services .bg-service .rosara::before{
    content: '';
    flex: 1;
    margin-right: 1rem;
    height: 2px;
    background-color: #000;
    max-width: 100px;
}
/* End services */

/* Product */
.products {
	top: -320px;
    justify-content: space-between;
    height: 100%;
}
.products .bg-products{
    background-color: #f0f0f0;
    padding: 100px 0 260px 0;
    bottom: 400px;
	position: relative;
}
.products .line{
	border-style: none none solid none;
	width: 35%;
	margin: 10% 0 2% 35%;
}
.products b{
	font-size: 20px;
	margin-left: 45%;
}
.products .wrapper{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100px 100px 100px 100px;
    margin: 40px 0 0 100px;
    position: relative;
    z-index: 1000;
}
.products .wrapper-function{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100px 100px 100px 100px;
	margin-left: 70px;
	max-height: 120px;
    position: relative;
    z-index: 1000;
}
.products .item img{
	max-width: 500px;
	max-height: 450px;
	font-size: 45px;
}
.products .function{
	max-width: 200px;
	max-height: 50px;
    margin: 0 20px 0 45px ;
}
.products .function a{
    display: block;
    padding: 1rem;
	text-align: center;
	color: black;
    border: 2px solid black;
    font-size: 18px;
}
.products .function a:hover{
    background: black;
    color: white;
}
.products .show-more a{
	border: 1px solid black;
	background: black;
	color: white;
	padding: 10px 60px 10px 60px;
	margin-left: 43%;
}
.products .show-more a:hover{
    background: gray;
    color: black;
}
/* End products */

/* Products details */
.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: #ffffff;
	padding: 50px 0 50px 0;
	padding-left: 120px;
	margin: 100px 0 0 0;
}
.breadcrumb li {
	display: inline;
	font-size: 18px;
}
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: ">\00a0";
}
ul.breadcrumb li a {
	color: #3d3d3d;
	text-decoration: none;
}
ul.breadcrumb li a:hover {
	color: #3d3d3d;
	text-decoration: underline;
}
.product-details{
	position: relative;
	padding-bottom: 550px;
}
.product-details .small-img{
	max-width: 120px;
	padding-right: 120px;
	padding-bottom: 0px;
	margin-left: 50px;
	padding-top: 50px;
	position: absolute;
}
.product-details .small-img img{
	max-width: 118px;
	max-height: 112px;
}
.product-details .small-img .line-small{
	border: 1px solid black;
	margin-left: 58px;
	margin-top: 3px;
	margin-bottom: 5px;
	padding-bottom: 50px;
}
.product-details .product-img{
	max-width: 400px;
	padding-bottom: 500px;
	padding-top: 10px;
	margin-left: 200px;
	position: absolute;
	bottom: 30px;
	top: 0;
}
.product-img img{
	max-width: 348px;
	max-height: 523px;
}
.product-img .pagination1 {
	text-align: center;
	margin: 10px 30px;
}
.product-img .pagination1 .dot1 {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	border: 1px solid #3d3d3d;
}
.product-img .pagination1 .active, .dot1:hover {
	background-color: #3d3d3d;
}
.description{
	max-width: 200px;
	padding-right: 320px;
	margin-left: 600px;
	position: absolute;
	bottom: 100px;
	top: 20px;
	background: #f1f1f1;
}
.description .line-1 {
	border: 2px black solid;
	border-style: solid none none none;
	width: 450px;
	margin: 20px 0 0 140px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	
}
 .description .content-1 {
	margin-left: 10px;
}
.description .content-1 p{
	color: black;
	width: 300px;
	line-height: 1.8;
}
.options-products{
	max-width: 350px;
	margin-left: 930px;
	position: absolute;
	bottom: 30px;
	top: 120px;
}
.options-products .content-products{
	display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
}
.options-products .content-products span{
	font-weight: bold;
    font-size: 20px;
	margin-left: 27px;
	
}
.options-products .content-products .color-radio ul{
	display: flex;
	margin-left: 50px;
}

.options-products .content-products .size-box ul{
	display: flex;
	margin-left: 50px;
}
.options-products .content-products .color-radio{
	margin: 24px 0;
}
.options-products .content-products .cart{
	margin: 33px 0;
}
.options-products .content-products .color-radio span{
	font-weight: normal;
    font-size: 16px;
    margin-left: 0;
}
.options-products .content-products .size-box span{
	font-weight: normal;
    font-size: 16px;
    margin-left: 0;
}
.options-products .content-products .cart span{
	font-weight: normal;
    font-size: 16px;
    margin-left: 0;
}
.options-products .content-products .color-radio ul li{
	display: inline-block;
    width: 30px;
	height: 30px;
    margin: -24px 60px 0 0;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.options-products .content-products .color-radio ul li.active{
	border: 4px solid #353535;
}
.white{
	background: white;
}
.black{
	background: #464646;
}
.red{
	background: red;
}
.options-products .content-products .size-box .S{
	margin-right: 30px;
	padding: 3px 25px 0 25px;
	border: 1px solid black;
}
.options-products .content-products .size-box .M{
	margin-right: 30px;
	padding: 3px 25px 0 25px;
	border: 1px solid black;
}
.options-products .content-products .size-box .L{
	margin-right: 30px;
	padding: 3px 25px 0 25px;
	border: 1px solid black;
}
.options-products .content-products .size-box ul li.active{
	display: inline-block;
    width: 57px;
    height: 27px;
    border: 1px solid;
    margin-right: 22px;
    text-align: center;
    cursor: pointer;
	line-height: 23px;
}
.options-products .content-products .size-box ul li.active{
	background: #464646;
    color: #ffffff;
}
.options-products .content-products .cart .cart-form{
	display: inline-block;
    width: 70%;
}
.options-products .content-products .cart .cart-form input{
	display: inline-block;
    width: 19%;
    height: 25px;
    margin-right: 15px;
    margin-left: 20px;
	text-align: center;
	border: 1px solid black;
	color: black;
}
.options-products .content-products .cart .cart-form button{
	padding: 7px 16px;
    color: #fff;
    background: #9e0b0f;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.options-products .content-products .coupon input{
	outline: 0;
    outline-style: none;
    outline-width: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 81%;
    border-bottom: 1px solid;
    color: #000;
    font-size: 14px;
	padding-left: 4px;
	margin: 0;
}
.options-products .content-products .coupon button{
	width: 47%;
    margin: 10px 56px;
    background: no-repeat;
    border: 1px solid #9e0b0f;
    color: #9e0b0f;
    font-size: 22px;
    padding: 5px 18px;
    transition: all .2s ease-in;
    cursor: pointer;
}
.options-products .content-products .contact{
	margin: 24px 0 0 24px;
}
.options-products .content-products .contact img{
	display: inline-block;
    vertical-align: top;
}
.options-products .content-products .contact .phone{
	display: inline-block;
    vertical-align: top;
}
.related-product {
	margin-top: 50px;
}
.related-product .products-line{
	display: flex;
    align-items: center;
    text-align: center;
    margin-right: 100px;
	position: relative;
	left: 100px;
}
.related-product .products-line::after{
	content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    background-color: #000;
    max-width: 100%;
}
.related-product .products-line::before{
	content: '';
    flex: 1;
    margin-right: 1rem;
    height: 2px;
    background-color: #000;
    max-width: 100px;
}
.related-product .products .wrapper{
	margin: 15px 0 0 100px;
}
.related-product .products .wrapper-function{
	margin: 0 0 0 80px;
}
/* End Products details */

/* footer */
.wrapper-footer{
    background: #565656;
    padding-top: 80px;
    height: 100%;
}
.wrapper-footer.bottom{
    position: absolute;
}
.menu-footer{
    margin-bottom: 27px;
}
ul.menu-footer{
	padding-left: 100px;
}
.menu-footer li{
    display: inline-block;
    width: 42%;
    color: #ffffff;
	vertical-align: top;
	margin-right: 71px;
}
.menu-footer li:last-child{
    margin-right: 0;
}
.menu-footer li:nth-child(2){
    width: 18%;
}
.menu-footer li:nth-last-child(2) a{
    display: block;
    color: #fff;
    line-height: 27px;
}
.menu-footer li:nth-child(3){
    width: 26%;
}
.menu-footer li .service{
    display: block;
    color: #fff;
    line-height: 27px;
}
.menu-footer li h3{
    font-weight: bold;
    margin-bottom: 19px;
    font-size: 27px;
}
.menu-footer li p{
    margin-bottom: 17px;
}
.menu-footer li p#connect{
	max-width: 280px;
}
.menu-footer li input.email{
    color: white;
    margin: 23px 0;
    width: 60%;
    padding-left: 20px;
    font-size: 15px;
}
.menu-footer li input.email:active, input{
	outline: 0;
    outline-style: none;
    outline-width: 0;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin: 23px 0;
    width: 60%;
}
.menu-footer li img{
	margin-left: 13px;
	float: right;
}
.copyright{
    background: #3d3d3d;
    text-align: center;
    color: white;
    padding: 22px 0 30px 0;
}
/* End footer */

.wrapper-header1{
	position: fixed;
    z-index: 5000;
    width: 100%;
}
.wrapper-header1 #shadow-header{
	box-shadow: 0px 20px 37px -37px #000;
    background: #ffffff;
}
.wrapper-header1 .header-product{
	display: flex;
    z-index: 500;
    position: relative;
    width: 100%;
	flex-wrap: nowrap;
	bottom: 100px;
}
.wrapper-header1 .logo{
    margin: 20px 35% 0px 80px;
}
.wrapper-header1 .navigation{
    flex-grow: 1;
    margin: 10px 0 0 0;
}
.wrapper-header1 .navigation ul{
    display: flex;
    justify-content: space-between;
}
.wrapper-header1 .navigation ul li  a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0 0 0;
    display: block;
    font-size: 16px;
}
.wrapper-header1 .products-header ul li a{
    color: black;
}
.wrapper-header1 .navigation ul li:hover .sub-navi{
    display: block;
}
.wrapper-header1 .navigation ul li .sub-navi{
    position: absolute;
    width: 20%;
    background: #a48c6a;
    display: none;
}
.wrapper-header1 .navigation ul li .sub-navi ul{
    flex-direction: column;
}
.wrapper-header1 .navigation ul li .sub-navi li{
    display: block;
    margin-right: 0;
}
.wrapper-header1 .navigation ul li .sub-navi li a{
    display: block;
    color: #fff;
    padding: 20px 0 20px 20px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.wrapper-header1 .navigation ul li .sub-navi li a:hover{
    border: 2px solid #fff;
    background: dimgray;
}
.wrapper-header1 .icon{
    padding-top: 18px;
    margin: 10px 0 0 46px;
}
.wrapper-header1 .icon ul{
    display: flex;
}
.wrapper-header1 .icon img{
    margin-right: 20px;
}