/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
	height: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	-webkit-font-smoothing: antialiased;
	background: #ffffff;
}

/* Header */
body{
    background: #fff;
}
.menu-header {
    display: flex;
    z-index: 5000;
    position: fixed;
	width: 100%;
	background: #b49a77;
}
.logo{
	margin-left: 150px;
}
.navigation{
	text-align: center;
	margin-left: 400px;
	margin-top: 25px;
	flex-grow: 1;
	max-width: 800px;
}
.navigation ul{
    display: block;
    height: 100%;
}
.navigation ul li{
    display: inline-block;
    margin-right: 31px;
    height: 100%;
}
.navigation ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.navigation ul li a:hover{
	background: #717171;
	border: 1px solid #3d3d3d;
	padding: 5px 10px 5px 10px;
}
.navigation .sub-navi ul li{
	text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: block;
    height: 100%;
}
.navigation ul li:hover .sub-navi{
    display: block;
}
.navigation ul li .sub-navi{
    position: absolute;
    width: 15%;
    background: #b49a77;
    display: none;
}
.navigation ul li .sub-navi li{
    display: block;
}
.navigation ul li .sub-navi li a{
    display: block;
    color: #fff;
    padding: 20px 0 20px 20px;
    transition: all .2s ease-in;
}
.navigation ul li .sub-navi li a:hover{
	background: #717171;
	border: 1px solid #3d3d3d;
	padding: 5px 10px 5px 10px;
}
.icon ul li{
    display: inline-block;
	margin-left: 20px;
	margin-top: 25px;
}

/* Banner */
.banner-section {
	background-color: #b49a77;
}
.banner-left {
	position: relative;
	display: inline-block;
	left: 15%;
}
.sale {
	position: absolute;
	top: 25%;
	left: 43%;
	font-size: 70px;
	color: white;
}
.slider {
	display: inline-block;
	margin-left: 350px;
	position: relative;
	bottom: 50px;
}
.slide-show {
	display: none;
}
.slide-show img{
	max-width: 264px;
	max-height: 264px;
}
.click {
	position: absolute;
	right: -65%;
	bottom: 50%;
	cursor: pointer;
}
.prev {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.next {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
.content {
	position: absolute;
	bottom: 10%;
	right: -50%;
	color: white;
}
.text {
	font-size: 55px;
	font-weight: bold;
}
.size {
	bottom: 20%;
}
.banner-right {
	position: absolute;
	top: 15%;
	right: 1%;
}
.pagination {
	text-align: center;
	margin: 0px 30px;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}

/* Services */
.line {
	border-style: none none solid none;
	width: 30%;
	margin-left: 10%;
	margin-top: 5%;
}
.title {
	margin-left: 15%;
	margin-top: 5%;
	max-width: 1100px;
}
.title p {
	max-width: 200px;
}
.square1 {
	background: #cbcbcb;
    width: 4vw;
    height: 4vw;
    float: right;
    margin: 0.5em;
}
.square2 {
	background: #e0e0e0;
    width: 4vw;
    height: 4vw;
    float: right;
    margin: 0.5em;
}
.square3 {
	background: #f5f5f5;
    width: 4vw;
    height: 4vw;
    float: right;
    margin: 0.5em;
}
.item {
	padding: 1rem;
	text-align: center;
	color: #fff;
}
.services .item img{
	max-width: 600px;
	max-height: 400px;
}
.wrapper {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 100px 100px 100px;
	margin-left: 400px;
	position: relative;
	z-index: 1000;
	max-width: 900px;
}
.wrapper a{
	border: 3px white solid;
	margin-top: 80px;
	margin-left: 60px;
	margin-right: 50px;
	padding-top: 20px;
	padding-bottom: 70px;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
}
.wrapper a p{
	margin-top: 10px;
}
.services p{
	font-size: 25px;
}
.services .Hot{
	font-size: 50px;
}
.services .bg-services{
    background: #f0f0f0;
    position: absolute;
    width: 80%;
    height: 440px;
    left: -35%;
	top: 26%;
	margin-top: 780px;
}
.services ul li{
	max-height: 300px;
}
.services ul li.rosara{
    text-transform: uppercase;
    position: relative;
    transform: rotate(-90deg);
    bottom: 144px;
}
/* products */
.products{
	max-width: 1711px;
	max-height: 673;
}
.products .line{
	border-style: none none solid none;
	width: 40%;
	margin-left: 30%;
	margin-top: 10%;
	margin-bottom: 1%;
}
.products b{
	font-size: 20px;
	margin-left: 45%;
}
.products .wrapper{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 100px 100px 100px 100px;
	margin-left: 250px;
	margin-top: 15px;
}
.products .wrapper-function{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 100px 100px 100px 100px;
	margin-left: 250px;
	max-height: 120px;

}
.products .item img{
	max-width: 500px;
	max-height: 450px;
	font-size: 45px;
}
.products .function{
	padding: 1rem;
	text-align: center;
	color: #fff;
	border: 2px solid black;
	max-width: 200px;
	max-height: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
}
.products .function a{
	color: black;
	display: block;
}
.products .show-more a{
	border: 1px solid black;
	background: black;
	color: white;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 45%;
}
/* footer */
.wrapper-footer{
    background: #565656;
    padding-top: 80px;
	margin-top: 80px;
}
.menu-footer{
    margin-bottom: 27px;
}
ul.menu-footer{
	padding-left: 100px;
}
.menu-footer li{
    display: inline-block;
    width: 42%;
    color: #ffffff;
	vertical-align: top;
	margin-left: 40px;
	margin-right: -80px;
}
.menu-footer li:last-child{
    margin-right: 0;
}
.menu-footer li:nth-child(2){
    width: 20%;
}
.menu-footer li:nth-child(3){
    width: 30%;
}
.menu-footer li .service{
    display: block;
    color: #fff;
    line-height: 27px;
}
.menu-footer li h3{
    font-weight: bold;
    margin-bottom: 19px;
    font-size: 27px;
}
.menu-footer li p{
    margin-bottom: 17px;
}
.menu-footer li input.email{
    color: white;
    margin: 23px 0;
    width: 60%;
    padding-left: 20px;
    font-size: 15px;
}
.menu-footer li input.email:active, input{
	outline: 0;
    outline-style: none;
    outline-width: 0;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    margin: 23px 0;
    width: 60%;
}
.menu-footer li img{
    margin-left: 13px;
}
.copyright{
    background: #3d3d3d;
    text-align: center;
    color: white;
    padding: 22px 0 30px 0;
}